<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.flow.mapper.FlowEntryMapper" >
  <resultMap id="BaseResultMap" type="com.pj.flow.pojo.FlowEntry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="recruit_id" property="recruitId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="entry_date" property="entryDate" jdbcType="DATE" />
    <result column="probation" property="probation" jdbcType="VARCHAR" />
    <result column="service_years" property="serviceYears" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="check_url" property="checkUrl" jdbcType="VARCHAR" />
    <result column="resume_url" property="resumeUrl" jdbcType="VARCHAR" />
    <result column="register_url" property="registerUrl" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="EntrySalaryResultMap" type="com.pj.flow.pojo.FlowEntry" extends="BaseResultMap">
    
    <!-- 查询使用 -->
    <result column="offerRange" property="offerRange" jdbcType="VARCHAR" />
    <result column="leaderName" property="leaderName" jdbcType="VARCHAR" />
	<result column="companyName" property="companyName" jdbcType="VARCHAR" />
	<result column="dempName" property="dempName" jdbcType="VARCHAR" />
	<result column="postName" property="postName" jdbcType="VARCHAR" />
    <collection property="salarys" ofType="com.pj.system.pojo.Salary" >
    	<id column="s_id" property="id" jdbcType="INTEGER" />  
	    <result column="total_salary" property="totalSalary" jdbcType="VARCHAR" />
	    <result column="reimbursement" property="reimbursement" jdbcType="VARCHAR" />
	    <result column="base_salary" property="baseSalary" jdbcType="VARCHAR" />
	    <result column="post_salary" property="postSalary" jdbcType="VARCHAR" />
	    <result column="performance_salary" property="performanceSalary" jdbcType="VARCHAR" />
	    <result column="lunch_allowance" property="lunchAllowance" jdbcType="VARCHAR" />
	    <result column="communication_allowance" property="communicationAllowance" jdbcType="VARCHAR" />
	    <result column="full_hours" property="fullHours" jdbcType="VARCHAR" />
	    <result column="s_user_id" property="userId" jdbcType="INTEGER" />
	    <result column="entry_id" property="entryId" jdbcType="INTEGER" />
	    <result column="salary_type" property="salaryType" jdbcType="INTEGER" />
    </collection>  
  </resultMap>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="EntrySalaryResultMap">
  	select e.*, s.*, s.id s_id, s.user_id s_user_id, r.offer_range as offerRange, c.name AS companyName,
		d.name AS dempName, p.name AS postName, ul.username AS leaderName
  	from flow_entry e
  	left join t_salary s on s.entry_id = e.id
  	left join flow_recruit r on e.recruit_id = r.id
	LEFT JOIN t_user ul ON r.leader_id = ul.id
	LEFT JOIN t_company c ON c.id = r.company_id
	LEFT JOIN t_demp d ON d.id = r.demp_id
	LEFT JOIN t_post p ON p.id = r.post_id
	where e.status = 0 and e.id = #{id}
  </select>
</mapper>