<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.flow.mapper.FlowEntryMapper" >
  <resultMap id="ApplyMap" type="com.pj.flow.pojo.FlowEntry" >
    <id column="id" property="id" jdbcType="INTEGER" />
	<result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="DATE" />
    
    <result column="dempId" property="dempId" jdbcType="INTEGER" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.pj.flow.pojo.FlowEntry" >
    <id column="id" property="id" jdbcType="INTEGER" />
	<result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="recruit_id" property="recruitId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="entry_date" property="entryDate" jdbcType="DATE" />
    <result column="probation" property="probation" jdbcType="VARCHAR" />
    <result column="service_years" property="serviceYears" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="check_url" property="checkUrl" jdbcType="VARCHAR" />
    <result column="resume_url" property="resumeUrl" jdbcType="VARCHAR" />
    <result column="register_url" property="registerUrl" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="apply_date" property="applyDate" jdbcType="DATE" />
    
    <result column="dempId" property="dempId" jdbcType="INTEGER" />
    <result column="applyDateStr" property="applyDateStr" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="EntrySalaryResultMap" type="com.pj.flow.pojo.FlowEntry" extends="BaseResultMap">
    
    <!-- 查询使用 -->
    <result column="offerRange" property="offerRange" jdbcType="VARCHAR" />
    <result column="leaderName" property="leaderName" jdbcType="VARCHAR" />
	<result column="companyName" property="companyName" jdbcType="VARCHAR" />
	<result column="dempName" property="dempName" jdbcType="VARCHAR" />
	<result column="postName" property="postName" jdbcType="VARCHAR" />
    <collection property="salarys" ofType="com.pj.system.pojo.Salary" >
    	<id column="s_id" property="id" jdbcType="INTEGER" />  
	    <result column="total_salary" property="totalSalary" jdbcType="VARCHAR" />
	    <result column="reimbursement" property="reimbursement" jdbcType="VARCHAR" />
	    <result column="base_salary" property="baseSalary" jdbcType="VARCHAR" />
	    <result column="post_salary" property="postSalary" jdbcType="VARCHAR" />
	    <result column="performance_salary" property="performanceSalary" jdbcType="VARCHAR" />
	    <result column="lunch_allowance" property="lunchAllowance" jdbcType="VARCHAR" />
	    <result column="communication_allowance" property="communicationAllowance" jdbcType="VARCHAR" />
	    <result column="full_hours" property="fullHours" jdbcType="VARCHAR" />
	    <result column="s_user_id" property="userId" jdbcType="INTEGER" />
	    <result column="entry_id" property="entryId" jdbcType="INTEGER" />
	    <result column="salary_type" property="salaryType" jdbcType="INTEGER" />
    </collection>  
  </resultMap>
  <resultMap id="BaseResultMap_Offer" type="com.pj.flow.pojo.FlowOffer" >
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="DATE" />
    <result column="recruit_id" property="recruitId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="entry_date" property="hiredate" jdbcType="DATE" />
    <result column="probation" property="probation" jdbcType="VARCHAR" />
    <result column="service_years" property="serviceHours" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="companyName" property="company" jdbcType="VARCHAR" />
    <result column="dempName" property="dempName" jdbcType="VARCHAR" />
    <result column="postName" property="postName" jdbcType="VARCHAR" />
    <result column="workAddress" property="workAddress" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="EntrySalaryResultMap">
  	select e.*, s.*, s.id s_id, s.user_id s_user_id, r.offer_range as offerRange, c.name AS companyName,
		d.name AS dempName, p.name AS postName, ul.username AS leaderName
  	from flow_entry e
  	left join t_salary s on s.entry_id = e.id
  	left join flow_recruit r on e.recruit_id = r.id
	LEFT JOIN t_user ul ON r.leader_id = ul.id
	LEFT JOIN t_company c ON c.id = r.company_id
	LEFT JOIN t_demp d ON d.id = r.demp_id
	LEFT JOIN t_post p ON p.id = r.post_id
	where e.status = 0 and e.id = #{id}
  </select>
  <select id="selectApplyInfoById" parameterType="java.lang.Integer" resultMap="ApplyMap">
  	select e.*, c.name AS companyName,
		u.dempid as dempId
  	from flow_entry e
	LEFT JOIN t_user u ON e.apply_id = u.id
	LEFT JOIN t_company c ON c.id = u.companyid
	where e.status = 0 and e.id = #{id}
  </select>
  <select id="selectOfferDetailsByApplyId" parameterType="java.lang.Integer" resultMap="BaseResultMap_Offer">
  	select 
  		entry.number ,
  		entry.recruit_id ,
  		entry.name ,
  		entry.sex ,
  		entry.phone ,
  		entry.email ,
  		entry.entry_date ,
  		entry.probation ,
  		entry.service_years ,
  		entry.remark ,
  		entry.state ,
  		entry.status ,
  		company.name companyName,
  		demp.name dempName,
  		post.name postName,
  		recruit.work_address workAddress,
  		pUser.username pUsername
  	from flow_entry entry 
  	inner join flow_recruit recruit on entry.recruit_id = recruit.id
  	left join t_user pUser on pUser.id = recruit.leader_id 
  	inner join t_company company on recruit.company_id = company.id
  	inner join t_demp demp on recruit.demp_id = demp.id
  	inner join t_post post on post.id = recruit.post_id
  	<where>
  		<if test="id != null">
  			 entry.id = #{id}
  		</if>
  	</where>
  </select>
  <select id="searchEntrys" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	SELECT e.id, e.recruit_id, e.username, u.demp_id AS dempId, 
  		DATE_FORMAT(e.apply_date,"%Y-%m-%d") AS applyDateStr,
		c.name AS companyName, e.state, e.result
		FROM flow_entry e
		left join t_user u on u.id = e.apply_id
		<!-- LEFT JOIN flow_recruit r ON r.apply_id = #{userId} AND r.status = 0 AND r.id = e.recruit_id -->
		LEFT JOIN t_company c ON c.id = u.companyid
		WHERE e.apply_id = #{userId} and e.status = 0 
  </select>
  <insert id="insertEntry" parameterType="com.pj.flow.pojo.FlowEntry" useGeneratedKeys="true" keyProperty="id">
    insert into flow_entry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="entryDate != null" >
        entry_date,
      </if>
      <if test="probation != null" >
        probation,
      </if>
      <if test="serviceYears != null" >
        service_years,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="checkUrl != null" >
        check_url,
      </if>
      <if test="resumeUrl != null" >
        resume_url,
      </if>
      <if test="registerUrl != null" >
        register_url,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="applyDate != null" >
        apply_date,
      </if>
      <if test="recruitId != null" >
        recruit_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null" >
        #{entryDate,jdbcType=DATE},
      </if>
      <if test="probation != null" >
        #{probation,jdbcType=VARCHAR},
      </if>
      <if test="serviceYears != null" >
        #{serviceYears,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="checkUrl != null" >
        #{checkUrl,jdbcType=VARCHAR},
      </if>
      <if test="resumeUrl != null" >
        #{resumeUrl,jdbcType=VARCHAR},
      </if>
      <if test="registerUrl != null" >
        #{registerUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=DATE},
      </if>
      <if test="recruitId != null" >
        #{recruitId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>