<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.flow.mapper.FlowRecruitTodoMapper" >
  <resultMap id="BaseResultMap" type="com.pj.flow.pojo.FlowRecruitTodo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="recruit_id" property="recruitId" jdbcType="INTEGER" />
    <result column="entry_id" property="entryId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="need_num" property="needNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getListByState" resultMap="BaseResultMap">
  	select td.* from flow_recruit_todo td 
  		where td.recruit_id in 
  			(select fr.id from flow_recruit fr where fr.post_id in 
  				(select au.postid from auth_user au where au.userid = #{userId}) and fr.status = 0) 
  			and td.state = #{state}
  </select>
  <select id="selectByRecruitId" resultMap="BaseResultMap">
  	select * from flow_recruit_todo 
  	where recruit_id = #{recruitId} and state = #{todoState}
  </select>
  <select id="selectByEntryId" resultMap="BaseResultMap">
  	select * from flow_recruit_todo 
  	where entry_id = #{entryId}
  </select>
  <update id="updateState">
  		update flow_recruit_todo 
    <set >
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where recruit_id = #{recruitId,jdbcType=INTEGER}
  </update>
</mapper>