<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.pj.message.mapper.MessageContentMapper">
	  <resultMap id="BaseResultMap" type="com.pj.message.pojo.MessageContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="DATE" />
    <result column="applicat_id" property="applicatId" jdbcType="INTEGER" />
    <result column="applicat_name" property="applicatName" jdbcType="VARCHAR" />
    <result column="applicat_position" property="applicatPosition" jdbcType="VARCHAR" />
    <result column="applicat_demp" property="applicatDemp" jdbcType="VARCHAR" />
    <result column="postName" property="postName" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="notification_type" property="notificationType" jdbcType="INTEGER" />
  </resultMap>
	
	<sql id="BaseResultColumn">
		id,type,title,apply_time,applicat_id,applicat_name,applicat_position,applicat_demp,notification_type
	</sql>
	<select id="selectMessageContentByUserIdAndNotificationType" parameterType="com.pj.message.pojo.MessageContent" resultMap="BaseResultMap">
		select 
			mc.id id,mc.type type,mc.apply_time apply_time,mc.applicat_id applicat_id,mc.applicat_name applicat_name,mc.applicat_position applicat_position,mc.applicat_demp applicat_demp,mc.notification_type notification_type
			,result,state,company_name companyName,post_name postName
		FROM message_content mc 
		INNER JOIN message_content_user mcu ON mcu.message_id = mc.id 
		<where>
			<if test="applicatId != null">
				 mcu.user_id = #{applicatId}				
			</if>
			<if test="notificationType != null">
				AND mc.notification_type = #{notificationType}
			</if>
		</where>
		 ORDER BY mc.apply_time DESC
	</select>
</mapper>