<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.pj.auth.mapper.AuthAgencyMapper">
	<resultMap type="com.pj.auth.pojo.AuthAgency" id="Result_base">
		<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="company_id" property="companyId" jdbcType="INTEGER" />
	    <result column="demp_id" property="dempId" jdbcType="INTEGER" />
	    <result column="grade" property="grade" jdbcType="INTEGER" />
	    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
	    <result column="dempName" property="dempName" jdbcType="VARCHAR" />
	    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_column">
		id,company_id,demp_id,grade,isdelete
	</sql>
	<select id="selectAuthAgencyByCompanyIdOrDempId" parameterType="com.pj.auth.pojo.AuthAgency" resultMap="Result_base">
		select 
			<include refid="Base_column"/> 
		from 
		auth_agency 
		<where>
			isdelete = 0
			<choose>
				<when test="companyId != null">
					AND	company_id=#{companyId} 
				</when>
				<otherwise>
					AND company_id is null
				</otherwise>
			</choose>
			<choose>
				<when test="dempId != null">
					AND demp_id=#{dempId}
				</when>
				<otherwise>
					AND demp_id is null
				</otherwise>
			</choose>
		</where>
	</select>
	<select id="selectAuthAgencyMaxGrade" resultMap="Result_base">
		SELECT <include refid="Base_column"/> FROM auth_agency GROUP BY grade DESC limit 0,1
	</select>
	<select id="selectAuthAgencyByGrade" parameterType="java.lang.Integer" resultMap="Result_base">
		SELECT 
				agency.id id,agency.company_id company_id,agency.demp_id demp_id,agency.grade grade,agency.isdelete ,c.name companyName,d.name dempName
		FROM 
		auth_agency agency
		left join t_company c on c.id = agency.company_id
		left join t_demp d on d.id = agency.demp_id
		where agency.grade = #{grade}  AND agency.isdelete = 0
	</select>
</mapper>