<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.pj.auth.mapper.AuthUserMapper">
	  <resultMap id="BaseResultMap" type="com.pj.auth.pojo.AuthUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="menuid" property="menuid" jdbcType="INTEGER" />
    <result column="companyid" property="companyid" jdbcType="INTEGER" />
    <result column="dempid" property="dempid" jdbcType="INTEGER" />
    <result column="postid" property="postid" jdbcType="INTEGER" />
    <result column="post_sign_num" property="postSignNum" jdbcType="VARCHAR" />
    <result column="menuids" property="menuids" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  
    <delete id="deleteByUserid" parameterType="com.pj.auth.pojo.AuthUser"  >
    delete from auth_user where
    <if test="userid != null">
			userid= #{userid}
	</if>
	<if test="menuid != null">
			and menuid= #{menuid}
	</if>
	<if test="companyid != null">
			and companyid= #{companyid}
	</if>
	<if test="dempid != null">
			and dempid= #{dempid}
	</if>
	<if test="postid != null">
			and postid= #{postid}
	</if>
  </delete>
  <delete id="deleteByUserMenuPost" >
    delete from auth_user where
			userid= #{userid}
			and menuid= #{menuid}
			<if test="postid != null">
				and postid= #{postid}
			</if>
  </delete>
 <select id="selectByUserid" resultMap="BaseResultMap">
 	select * from auth_user
 	 where userid = #{userid} and type = #{type}
 </select>
 <select id="selectByMenuidAndUserid" resultType="java.lang.Integer">
 	select postid from auth_user
 	 where userid = #{userid} and menuid = #{menuid} and type = "post"
 </select>
 <select id="selectByUseridAndMenuids" resultMap="BaseResultMap">
 	select postid from auth_user
 	 where userid = #{userid} and menuids like #{menuids}
 </select>
 <select id="selectByUserMenuType" resultMap="BaseResultMap">
 	select * from auth_user
 	 where userid = #{userid} and menuid = #{menuid} and type = #{type}
 </select>
</mapper>