<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.pj.auth.mapper.AuthUserMapper">
	  <resultMap id="BaseResultMap" type="com.pj.auth.pojo.AuthUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="menuid" property="menuid" jdbcType="INTEGER" />
    <result column="postid" property="postid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, menuid, postid
  </sql>
  <insert id="insertAuthUser" parameterType="com.pj.auth.pojo.AuthUser" >
    insert into auth_user (userid, menuid, postid)
    values ( #{userid,jdbcType=INTEGER}, #{menuid,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER})
  </insert>
    <delete id="deleteByUserid" parameterType="java.lang.Integer" >
    delete from auth_user where userid = #{userid,jdbcType=INTEGER}
  </delete>
</mapper>