<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.pj.auth.mapper.AuthMenuMapper">
	  <resultMap id="BaseResultMap" type="com.pj.auth.pojo.AuthMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="auth" property="auth" jdbcType="INTEGER" />
    <result column="post" property="post" jdbcType="INTEGER" />
    <result column="default_auth" property="defaultAuth" jdbcType="INTEGER" />
    
    <result column="hasChilds" property="hasChilds" jdbcType="VARCHAR" />
  </resultMap>
	 <select id="GetMenu" resultMap="BaseResultMap" parameterType="com.pj.auth.pojo.AuthMenu">
		select * ,
		case 
			when grade=1 then 'yes'
            when grade=2 then 'yes'
            when grade=3 and post = 1 then 'yes'
            else 'no'
        end hasChilds
        from auth_menu
		where 1=1
		<if test="id != null">
			AND id= #{id}
		</if>
		<if test="name != null">
			AND name= #{name}
		</if>
		<if test="fid != null">
			AND fid= #{fid}
		</if>
		<if test="grade != null">
			AND grade= #{grade}
		</if>
		<if test="auth != null">
			AND auth= #{auth}
		</if>
		<if test="post != null">
			AND post= #{post}
		</if>
	</select>
	<select id="GetMenubyUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select auth_menu.id,auth_menu.name,auth_menu.fid,auth_menu.post,COUNT(auth_user.menuid)  as Choice from auth_menu
		LEFT JOIN auth_user on auth_user.menuid=auth_menu.id and userid=#{userid}
		
		where 1=1
		<if test="grade != 0">
			AND grade= #{grade}
		</if>
		<if test="auth != 0">
			AND auth= #{auth}
		</if>
		GROUP BY auth_menu.id,auth_menu.name,auth_menu.fid,auth_menu.post
	</select>
	<select id="GetOneMenubyUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select t1.id,t1.name,t1.img,t1.href from auth_menu t1
		LEFT JOIN auth_menu t2 on t1.id=t2.fid
		LEFT JOIN auth_menu t3 on t2.id=t3.fid
		where t3.id in (select menuid from auth_user where userid=#{userid}) OR t1.auth=0 
		group by t1.id,t1.name,t1.img,t1.href
	</select>
	
	<select id="GetTwoMenubyUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select t2.id,t2.name,t2.href from auth_menu t1
		LEFT JOIN auth_menu t2 on t1.id=t2.fid
		LEFT JOIN auth_menu t3 on t2.id=t3.fid
		where  t1.id=#{fid}  and t2.name !='消息中心' and t3.id in (select menuid from auth_user where userid=#{userid}) OR t1.auth=0 and t2.name is not null
		GROUP BY t2.id,t2.name,t2.href
	</select>
	<select id="GetAuthMenubyUserid" resultType="java.lang.Integer" >
		select COUNT(t3.id)as con  from auth_menu t1
		LEFT JOIN auth_menu t2 on t1.id=t2.fid
		LEFT JOIN auth_menu t3 on t2.id=t3.fid
		where t3.name=#{name} and t3.id in (select menuid from auth_user where userid=#{userid}) OR t1.auth=0 and t2.name is not null
	</select>
	<select id="selectByFid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select id from auth_menu where fid = #{fid} and auth = 1
	</select>
	<select id="selectByPostAndGrade" resultType="java.lang.Integer">
		select id from auth_menu where post = #{post} and grade = #{grade}
	</select>
	<select id="selectDefaults" parameterType="int" resultMap="BaseResultMap">
		select * from auth_menu where default_auth = 1 and grade = #{grade}
	</select>
	<select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from auth_menu where name = #{name}
	</select>
</mapper>