<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.system.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.pj.system.pojo.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="pId" property="pId" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="hierarchy" property="hierarchy" jdbcType="INTEGER" />
    <result column="choice" property="choice" jdbcType="VARCHAR" />
    
  </resultMap>
  <resultMap id="OrganizationMap" type="com.pj.system.pojo.Organization" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="pId" property="pId" jdbcType="INTEGER" />
    <result column="pNum" property="pNum" jdbcType="VARCHAR" />
    <result column="signNum" property="signNum" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="choice" property="choice" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="hasChilds" property="hasChilds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_column">
  	id,number,name,address,contact,pId,isdelete,hierarchy
  </sql>
	<select id="getByAuthUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select c.* from t_company c
			where c.id in 
				(select p.company_id from t_post p 
					where p.id in 
						(select au.postid from auth_user au where au.userid = #{userId})) and c.isdelete = 0
	</select>

	<select id="selectParentCompanyById" parameterType="int" resultMap="BaseResultMap">
		select 
			<include refid="Base_column"/> 
		from 
		t_company where id = (select pId from t_company where id=#{id}) and isdelete = 0
	</select>

	<select id="selectByPId" parameterType="java.lang.Integer" resultMap="OrganizationMap">
		select 
			*
		from 
		t_company where isdelete = 0
		<if test="pId != null">
			and pId = #{pId}
		</if>
		<if test="pId == null">
			and pId is null
		</if>
	</select>
	
	<select id="selectByUserid" parameterType="int" resultMap="BaseResultMap">
		select t_company.id,t_company.name,COUNT(auth_user.companyid) as choice from t_company 
		LEFT JOIN auth_user on t_company.id=auth_user.companyid and menuid=#{menuid} AND userid=#{userid}
		where isdelete=0
		and t_company.id in (
		select companyid from (
		select t_demp.companyid from t_demp 
		LEFT JOIN auth_user on t_demp.id=auth_user.dempid and menuid=#{menuid} AND userid=#{userid}
		where t_demp.id not in (SELECT dempid from auth_user  where userid !=#{userid} AND menuid=#{menuid} AND postid is NULL)
		and  t_demp.id not in (SELECT demp_id from t_post) and t_demp.isdelete=0  
		union all
		select t_demp.companyid from t_post
		left JOIN t_demp on t_demp.id=t_post.demp_id
		LEFT JOIN auth_user on t_demp.id=auth_user.dempid and menuid=#{menuid} AND userid=#{userid}
		where  t_post.isdelete = 0 and t_post.id not in (SELECT postid from auth_user  where userid !=#{userid} AND menuid=#{menuid} AND postid is not NULL) and t_demp.isdelete=0  
		) aaa
		GROUP BY companyid
		)
		group by t_company.id,t_company.name
	</select>
	<select id="selectOransNotDeleteALL" resultMap="OrganizationMap">
		select c.id, c.number, c.name, pc.number as pNum, "company" as type,
		case 
			when (select count(*) from t_company where pId = c.id and isdelete = 0) > 0 then 'yes'
			when (select count(*) from t_demp where companyid = c.id and isdelete = 0) > 0 then 'yes'
			when (select count(*) from t_post where company_id = c.id and isdelete = 0) > 0 then 'yes'
			else 'no' end hasChilds 
		 from t_company c
	left join t_company pc on pc.id = c.pId 
	where c.isdelete = 0
	</select>
	<select id="selectParentsById" resultType="java.lang.String" parameterType="java.lang.Integer">
		SELECT number FROM t_company 
		WHERE FIND_IN_SET(id,getCompanyParentList(#{id})) and isdelete = 0
	</select>
	<select id="selectCompanyParentsById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select * from t_company where FIND_IN_SET(id,getCompanyParentList(#{id}))  and isdelete = 0
	</select>
	<select id="selectChildsById" resultMap = "OrganizationMap" parameterType="java.lang.Integer">
		SELECT * ,(SELECT number FROM t_company WHERE id = c.pId) as pNum,
		case 
			when (select count(*) from t_company where pId = c.id and isdelete = 0) > 0 then 'yes'
			when (select count(*) from t_demp where companyid = c.id and isdelete = 0) > 0 then 'yes'
			when (select count(*) from t_post where company_id = c.id and isdelete = 0) > 0 then 'yes'
			else 'no' end hasChilds 
		FROM t_company c
		WHERE FIND_IN_SET(c.id,getCompanyChildList(#{id})) and c.isdelete = 0
	</select>
	<select id="selectByNumber" parameterType="java.lang.String" resultMap="OrganizationMap">
		select * from t_company 
		where number = #{number} and isdelete = 0
	</select>
</mapper>