<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.system.mapper.DempMapper" >
  <resultMap id="BaseResultMap" type="com.pj.system.pojo.Demp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="frontrank" property="frontrank" jdbcType="INTEGER" />
    <result column="companyid" property="companyid" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="pId" property="pId" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="hierarchy" property="hierarchy" jdbcType="INTEGER" />
    <result column="choice" property="choice" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="OrganizationMap" type="com.pj.system.pojo.Organization" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="pNum" property="pNum" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="choice" property="choice" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_column"> 
  	id,name,frontrank,companyid,number,pId,isdelete,hierarchy
  </sql>
  
  <select id="selectEliminateSubset" parameterType="java.lang.Integer" resultMap="BaseResultMap">
 	SELECT
		  d.id, d.name, d.frontrank, d.companyid, d.number, d.pId, d.isdelete, d.hierarchy
	FROM
	t_demp d
	INNER JOIN (
		SELECT
			companyid
		FROM
			t_demp
		WHERE
			id = #{id}
	) de ON d.companyid = de.companyid 
	<where>
		d.id NOT IN (
			SELECT
				id
			FROM
				t_demp
			WHERE
				FIND_IN_SET(id, getChildLst(#{id}))
		) AND d.isdelete = 0
	</where>
  </select>
  <select id="selectDempParentListById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
 	SELECT
		 <include refid="Base_column"/>
	FROM 
		t_demp 
	where 
		FIND_IN_SET(id, getParentList(#{id}))
  </select>
  <select id="selectDempChildListById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
 	SELECT
		<include refid="Base_column"/>
	FROM 
		t_demp 
	where 
		FIND_IN_SET(id, getChildLst(#{id}))
  </select>
  
  <select id="selectParentDempById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  		select 
			<include refid="Base_column"/>
		from 
		t_demp where id = (select pId from t_demp where id=#{id})
  </select>
  <select id="SelectByUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  		select id,name,companyid,choice  from (
  		select  id,name,companyid,choice FROM(
		select  t_demp.id,t_demp.name,t_demp.companyid,COUNT(auth_user.dempid) as choice  from t_post
		left JOIN t_demp on t_demp.id=t_post.demp_id
		LEFT JOIN auth_user on t_demp.id=auth_user.dempid and menuid=#{menuid} AND userid=#{userid}
		where  t_post.isdelete = 0 and t_post.id not in (SELECT postid from auth_user  where userid !=#{userid} AND menuid=#{menuid} AND postid is not NULL) and t_demp.isdelete=0  
		group by t_demp.id,t_demp.name,t_demp.companyid ORDER BY choice DESC) a
		union all
		select * from (
		select   t_demp.id,t_demp.name,t_demp.companyid,COUNT(auth_user.dempid) as choice  from t_demp 
		LEFT JOIN auth_user on t_demp.id=auth_user.dempid and menuid=#{menuid} AND userid=#{userid}
		where t_demp.id not in (SELECT dempid from auth_user  where userid !=#{userid} AND menuid=#{menuid} AND postid is NULL)
		and  t_demp.id not in (SELECT demp_id from t_post)   and t_demp.isdelete=0  
		group by t_demp.id,t_demp.name,t_demp.companyid ORDER BY choice DESC) b )c
		<where>
			<if test="companyid !=null">
				companyid = #{companyid}
			</if>
		</where>
  </select>
  
  <select id="selectOrgansByCompanyId" parameterType="java.lang.Integer" resultMap="OrganizationMap">
  	select d.id,d.name,d.number,c.number as pNum,"demp" as type from t_demp d
  	left join t_company c on c.id = d.companyid 
  	where d.companyid = #{companyId} 
  	and d.isdelete = 0 and (d.pId is null or d.pId = 0)
  </select>
  <select id="selectOrgansByPId" parameterType="java.lang.Integer" resultMap="OrganizationMap">
  	select d.id,d.name,d.number,pd.number as pNum,"demp" as type from t_demp d
  	left join t_demp pd on pd.id = d.pId 
  	where d.pId = #{id} 
  	and d.isdelete = 0
  </select>
</mapper>