<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.system.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="com.pj.system.pojo.Post" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="sign_num" property="signNum" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="demp_id" property="dempId" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    
    <!-- 查询使用 -->
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="dempname" property="dempname" jdbcType="VARCHAR" />
    <result column="choice" property="choice" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="OrganizationMap" type="com.pj.system.pojo.Organization" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="pNum" property="pNum" jdbcType="VARCHAR" />
    <result column="signNum" property="signNum" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="choice" property="choice" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="hasChilds" property="hasChilds" jdbcType="VARCHAR" />
  </resultMap>
 <select id="selectALL" resultMap="BaseResultMap" parameterType="com.pj.system.pojo.Post">
  SELECT
		p.*, c.`name` companyname,
		d.`name` dempname
	FROM
	t_post p 
	left join t_company c on p.company_id = c.id
	left join t_demp d on p.demp_id = d.id
	<where>
		p.isdelete = 0
		<if test="companyname != null">
			AND c.name like CONCAT(#{companyname},'%')  
		</if>
		<if test="dempname != null">
			AND d.name like CONCAT(#{dempname},'%') 
		</if>
		<if test="name != null">
			AND p.name like CONCAT(#{name},'%') 
		</if>
		<if test="companyId != null">
			AND p.company_id = #{companyId}
		</if>
		<if test="dempId != null">
			AND p.demp_id = #{dempId}
		</if>
	</where>	
	ORDER BY p.id
  </select>
 <select id="selectByComOrDemp" resultMap="BaseResultMap" parameterType="com.pj.system.pojo.Post">
  SELECT id, name FROM t_post
	<where>
		isdelete = 0
		<if test="companyId != null and dempId == null">
			AND company_id = #{companyId} 
			and demp_id is null
		</if>
		<if test="companyId != null and dempId != null">
			AND company_id = #{companyId} 
			and demp_id = #{dempId}
		</if>
	</where>	
	ORDER BY id
  </select>
  
  <select id="SelectByUserid" resultMap="BaseResultMap" >
	select t_post.id,t_post.name,t_post.demp_id,t_post.company_id,COUNT(auth_user.postid) as choice from t_post
	LEFT JOIN auth_user on t_post.id=auth_user.postid and menuid=#{menuid} AND userid=#{userid}
	where t_post.isdelete = 0 and t_post.id not in (select postid from auth_user where menuid=#{menuid} AND userid!=#{userid} and postid is not null )
	<if test="dempid !=null">
		demp_id = #{dempid}
	</if>
	GROUP BY  t_post.id,t_post.name,t_post.demp_id,t_post.company_id
  </select>
  <select id="selectLinealsByCompanyId" resultMap="OrganizationMap" parameterType="java.lang.Integer">
	select p.id, p.number, p.name, p.sign_num as signNum, c.number as pNum, "post" as type from t_post p
	left join t_company c on c.id = p.company_id and c.isdelete = 0
	where p.company_id = #{companyId} and (p.demp_id is null or p.demp_id = 0) and p.isdelete = 0
  </select>
  <select id="selectLinealNumsByCompanyId" resultType="java.lang.String" parameterType="java.lang.Integer">
	select p.number from t_post p
	where p.company_id = #{companyId} and (p.demp_id is null or p.demp_id = 0) and p.isdelete = 0
  </select>
  <select id="selectLinealIdsByCompanyId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	select p.id from t_post p
	where p.company_id = #{companyId} and (p.demp_id is null or p.demp_id = 0) and p.isdelete = 0
  </select>
  <select id="selectLinealsByDempId" resultMap="OrganizationMap" parameterType="java.lang.Integer">
	select p.id, p.number, p.name, d.number as pNum, "post" as type,p.sign_num as signNum, 'no' as hasChilds from t_post p
	left join t_demp d on d.id = p.demp_id and d.isdelete = 0 
	where p.demp_id = #{dempId} and p.isdelete = 0
  </select>
  <select id="selectLinealNumsByDempId" resultType="java.lang.String" parameterType="java.lang.Integer">
	select p.number from t_post p
	where p.demp_id = #{dempId} and p.isdelete = 0
  </select>
  <select id="selectLinealIdsByDempId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	select p.id from t_post p
	where p.demp_id = #{dempId} and p.isdelete = 0
  </select>
  <select id="selectByNumber" resultMap="OrganizationMap" parameterType="java.lang.String">
	select *, sign_num as signNum from t_post where number = #{number} and isdelete = 0
  </select>
  <select id="selectAllPostId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	select id from t_post where isdelete = #{isdelete}
  </select>
  <select id="selectAllDId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	select DISTINCT(demp_id) from t_post where isdelete = #{isdelete}
  </select>
  <select id="selectAllCId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	select DISTINCT(company_id) from t_post where isdelete = #{isdelete}
  </select>
</mapper>