<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.system.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="com.pj.system.pojo.Post" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="INTEGER" />
    <result column="dempId" property="dempId" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    
    <!-- 查询使用 -->
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="dempname" property="dempname" jdbcType="VARCHAR" />
    
  </resultMap>
 <select id="selectALL" resultMap="BaseResultMap" parameterType="com.pj.system.pojo.Post">
  SELECT
		p.*, c.`name` companyname,
		d.`name` dempname
	FROM
	t_post p 
	left join t_company c on p.companyId = c.id
	left join t_demp d on p.dempId = d.id
	<where>
		p.isdelete = 0
		<if test="companyname != null">
			AND c.name like CONCAT(#{companyname},'%')  
		</if>
		<if test="dempname != null">
			AND d.name like CONCAT(#{dempname},'%') 
		</if>
		<if test="name != null">
			AND p.name like CONCAT(#{name},'%') 
		</if>
		<if test="companyId != null">
			AND p.companyId = #{companyId}
		</if>
		<if test="dempId != null">
			AND p.dempId = #{dempId}
		</if>
	</where>	
	ORDER BY p.id
  </select>
</mapper>