<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.system.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.pj.system.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="filenumber" property="filenumber" jdbcType="VARCHAR" />
		<result column="hiredate" property="hiredate" jdbcType="DATE" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
		<result column="i_email" property="iEmail" jdbcType="VARCHAR" />
		<result column="dempid" property="dempid" jdbcType="INTEGER" />
		<result column="positionid" property="positionid" jdbcType="INTEGER" />
		<result column="postid" property="postid" jdbcType="INTEGER" />
		<result column="companyid" property="companyid" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="work_address" property="workAddress" jdbcType="VARCHAR" />
		<result column="identityproof" property="identityproof" jdbcType="VARCHAR" />
		<result column="identityproof_address" property="identityproofAddress" jdbcType="VARCHAR" />
		<result column="residential_address" property="residentialAddress" jdbcType="VARCHAR" />
		<result column="is_ding_talk" property="isDingTalk" jdbcType="INTEGER" />
		<result column="is_status" property="isStatus" jdbcType="INTEGER" />
		<result column="contract_type" property="contractType" jdbcType="INTEGER" />
		<result column="contract_period" property="contractPeriod" jdbcType="INTEGER" />
		<result column="leavedate" property="leavedate" jdbcType="DATE" />
		<result column="probation" property="probation" jdbcType="INTEGER" />
		<result column="apply_regular_date" property="applyRegularDate" jdbcType="DATE" />
		<result column="contract_start_time" property="contractStartTime" jdbcType="DATE" />
		<result column="contract_stop_time" property="contractStopTime" jdbcType="DATE" />
		<result column="contacts" property="contacts" jdbcType="VARCHAR" />
		<result column="marital_status" property="maritalStatus" jdbcType="INTEGER" />
		<result column="child_status" property="childStatus" jdbcType="INTEGER" />
		<result column="education" property="education" jdbcType="INTEGER" />
		<result column="school" property="school" jdbcType="VARCHAR" />
		<result column="is_fulltime" property="isFulltime" jdbcType="INTEGER" />
		<result column="is_new_ginseng" property="isNewGinseng" jdbcType="INTEGER" />
		<result column="is_social_security_cards" property="isSocialSecurityCards" jdbcType="INTEGER" />
		<result column="is_accumulation_fund" property="isAccumulationFund" jdbcType="INTEGER" />
		<result column="alnature" property="alnature" jdbcType="INTEGER" />
		<result column="social_security_cardinal_number" property="socialSecurityCardinalNumber" jdbcType="VARCHAR" />
		<result column="accumulation_fund_cardinal_number" property="accumulationFundCardinalNumber" jdbcType="VARCHAR" />
		<result column="social_security_payment_address" property="socialSecurityPaymentAddress" jdbcType="VARCHAR" />
		<result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
		<result column="bankcard" property="bankcard" jdbcType="VARCHAR" />
		<result column="isdelete" property="isdelete" jdbcType="INTEGER" />
		<result column="ssoId" property="ssoId" jdbcType="INTEGER" />
		<result column="openid" property="openid" jdbcType="VARCHAR" />
		<result column="is_department_head" property="isDepartmentHead" jdbcType="INTEGER" />
		<result column="is_company_boss" property="isCompanyBoss" jdbcType="INTEGER" />
		<result column="we_chat_name" property="weChatName" jdbcType="VARCHAR" />
		
		<!-- 查询使用 -->
		<result column="positionname" property="positionname" />
		<result column="dempname" property="dempname" />
		<result column="companyname" property="companyname" />
		<result column="postname" property="postname" />
		<result column="replaceOffer" property="replaceOffer" />
	</resultMap>
	
	<resultMap id="User_Relevance_Select" type="com.pj.system.pojo.User">
		    <id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="filenumber" property="filenumber" jdbcType="VARCHAR" />
		<result column="hiredate" property="hiredate" jdbcType="DATE" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
		<result column="i_email" property="iEmail" jdbcType="VARCHAR" />
		<result column="dempid" property="dempid" jdbcType="INTEGER" />
		<result column="positionid" property="positionid" jdbcType="INTEGER" />
		<result column="postid" property="postid" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="work_address" property="workAddress" jdbcType="VARCHAR" />
		<result column="identityproof" property="identityproof" jdbcType="VARCHAR" />
		<result column="identityproof_address" property="identityproofAddress" jdbcType="VARCHAR" />
		<result column="residential_address" property="residentialAddress" jdbcType="VARCHAR" />
		<result column="is_ding_talk" property="isDingTalk" jdbcType="INTEGER" />
		<result column="is_status" property="isStatus" jdbcType="INTEGER" />
		<result column="contract_type" property="contractType" jdbcType="INTEGER" />
		<result column="contract_period" property="contractPeriod" jdbcType="INTEGER" />
		<result column="leavedate" property="leavedate" jdbcType="DATE" />
		<result column="probation" property="probation" jdbcType="INTEGER" />
		<result column="apply_regular_date" property="applyRegularDate" jdbcType="DATE" />
		<result column="contract_start_time" property="contractStartTime" jdbcType="DATE" />
		<result column="contract_stop_time" property="contractStopTime" jdbcType="DATE" />
		<result column="contacts" property="contacts" jdbcType="VARCHAR" />
		<result column="marital_status" property="maritalStatus" jdbcType="INTEGER" />
		<result column="child_status" property="childStatus" jdbcType="INTEGER" />
		<result column="education" property="education" jdbcType="INTEGER" />
		<result column="school" property="school" jdbcType="VARCHAR" />
		<result column="is_fulltime" property="isFulltime" jdbcType="INTEGER" />
		<result column="is_new_ginseng" property="isNewGinseng" jdbcType="INTEGER" />
		<result column="is_social_security_cards" property="isSocialSecurityCards" jdbcType="INTEGER" />
		<result column="is_accumulation_fund" property="isAccumulationFund" jdbcType="INTEGER" />
		<result column="alnature" property="alnature" jdbcType="INTEGER" />
		<result column="social_security_cardinal_number" property="socialSecurityCardinalNumber" jdbcType="VARCHAR" />
		<result column="accumulation_fund_cardinal_number" property="accumulationFundCardinalNumber" jdbcType="VARCHAR" />
		<result column="social_security_payment_address" property="socialSecurityPaymentAddress" jdbcType="VARCHAR" />
		<result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
		<result column="bankcard" property="bankcard" jdbcType="VARCHAR" />
		<result column="isdelete" property="isdelete" jdbcType="INTEGER" />
		<result column="sso_id" property="ssoId" jdbcType="INTEGER" />
		<result column="openid" property="openid" jdbcType="VARCHAR" />
		<result column="is_department_head" property="isDepartmentHead" jdbcType="INTEGER" />
		<result column="is_company_boss" property="isCompanyBoss" jdbcType="INTEGER" />
		<result column="we_chat_name" property="weChatName" jdbcType="VARCHAR" />
		<result column="companyEmailPassword" property="companyEmailPassword" jdbcType="VARCHAR" />
		
		<!-- 查询使用 -->
		<result column="companyid" property="companyid" jdbcType="INTEGER" />
		<result column="positionname" property="positionname" jdbcType="VARCHAR" />
		<result column="dempname" property="dempname" jdbcType="VARCHAR" />
		<result column="companyname" property="companyname" jdbcType="VARCHAR" />
		<result column="postname" property="postname" jdbcType="VARCHAR" />
		<result column="pUsername" property="pUsername" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column">
		u.id,u.username,u.sex,u.filenumber,u.hiredate,u.phone,u.company_email,u.i_email,u.dempid
		,u.positionid,u.postid,demp.companyid companyid,u.pid,u.nation,u.work_address,u.identityproof,u.identityproof_address,u.residential_address
		,u.is_ding_talk,u.is_status,u.contract_type,u.contract_period,u.leavedate,u.probation,u.regulardate,u.apply_regular_date,u.contract_start_time
		,u.contract_stop_time,u.contacts,u.marital_status,u.child_status,u.education,u.school,u.is_fulltime,u.is_new_ginseng,u.is_social_security_cards
		,u.is_accumulation_fund,u.alnature,u.social_security_cardinal_number,u.accumulation_fund_cardinal_number
		,u.social_security_payment_address,u.deposit_bank,u.bankcard,position.name positionname,demp.name dempname,company.name companyname,post.name postname,pUser.username pUsername
		,u.is_department_head,u.is_company_boss,u.sso_id,u.isdelete
	</sql>
	
	
	<select id="selectUsersByCondition" parameterType="com.pj.system.pojo.User" resultMap="User_Relevance_Select">
		select 
			<include refid="Base_Column"/>,u.company_email_password companyEmailPassword
		from t_user u 
		left join t_demp demp on u.dempid = demp.id 
		left join t_company company on company.id = u.companyid
		left join t_position position on u.positionid = position.id
		left join t_post post on u.postid = post.id
		left join t_user pUser on pUser.id = u.pid
		<where>
			u.isdelete = 0
			AND u.username != "admin"
			<if test="companyEmail != null">
				AND u.company_email = #{companyEmail}
			</if>
			<if test="id != null">
				AND u.id = #{id}
			</if>
			<if test="username !=  null">
				AND u.username=#{username}
			</if>
		</where>
	</select>
	
	<select id="pageQuery" parameterType="com.pj.system.pojo.User"
		resultMap="User_Relevance_Select">
		SELECT
		<include refid="Base_Column"/>
		<if test="terrace != null">
			,sr.roleid systemRoleid,sr.role_name systemRoleName
		</if>
		FROM
		t_user u
		left JOIN t_demp demp on u.dempid = demp.id
		left JOIN t_company company on u.companyid = company.id
		left JOIN t_position position on u.positionid = position.id
		left JOIN t_post post on u.postid = post.id
		left join t_user pUser on pUser.id = u.pid
		<if test="terrace != null">
			left join t_system_role sr on u.id = sr.userid
			AND sr.terrace = #{terrace}
		</if>
		<where>
			u.isdelete = 0
			<if test="terrace != null">
				<choose>
					<when test="systemRoleid != null">
						<if test="systemRoleid != 0">
							AND sr.roleid = #{systemRoleid}
						</if>
					</when>
					<otherwise>
						AND u.id not in(SELECT userid from t_system_role where
						terrace=#{terrace})
					</otherwise>
				</choose>
			</if>
			<if test="username != null">
				AND u.username LIKE #{username}
			</if>
			<if test="isStatus != null">
				AND u.is_status = #{isStatus}
			</if>
			<if test="dempid != null">
				AND u.dempid = #{dempid}
			</if>
			<if test="companyid != null">
				AND u.companyid = #{companyid}
			</if>
		ORDER BY u.id
		</where>
	</select>
	<select id="getCompanyLeader" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT * FROM t_user
		where companyid = #{companyid} and is_company_boss = 1 and isdelete = 0
		<!-- SELECT u.* FROM t_user u
		where u.dempid in 
		(select d.id from t_demp d where d.companyid = #{companyid} and d.isdelete = 0)
		and u.is_company_boss = 1 and u.isdelete = 0 -->
		
	</select>
	<select id="getDempLeader" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT * FROM t_user
		where dempid = #{dempid} and is_department_head = 1 and isdelete = 0
		
	</select>
	<select id="selectByNameAndDempId"
		resultMap="BaseResultMap">
		SELECT * FROM t_user
		where dempid = #{dempid} and username = #{username} and isdelete = 0
		
	</select>
	<select id="selectByNameAndCompanyId"
		resultMap="BaseResultMap">
		SELECT u.*, s.total_salary AS replaceOffer FROM t_user u
		left join t_salary s on s.user_id = u.id and s.salary_type = 3
		where u.companyid = #{companyid} 
		and u.username = #{username} and u.isdelete = 0
		<!-- SELECT u.*, s.total_salary AS replaceOffer FROM t_user u
		left join t_salary s on s.user_id = u.id and s.salary_type = 3
		where u.dempid in 
		(select d.id from t_demp d where d.companyid = #{companyid} and d.isdelete = 0)
		and u.username = #{username} and u.isdelete = 0 -->
		
	</select>
	<select id="getUserByAuthPost" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select * from t_user
		where id = (select userid from auth_user where postid = #{postId} and menuid = #{menuId})
	</select>
</mapper>

