<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.flow.mapper.FlowRecruitMapper" >
  <resultMap id="BaseResultMap" type="com.pj.flow.pojo.FlowRecruit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="apply_date" property="applyDate" jdbcType="DATE" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="demp_id" property="dempId" jdbcType="INTEGER" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="is_demp_leader" property="isDempLeader" jdbcType="INTEGER" />
    <result column="is_company_leader" property="isCompanyLeader" jdbcType="INTEGER" />
    <result column="need_num" property="needNum" jdbcType="INTEGER" />
    <result column="work_address" property="workAddress" jdbcType="VARCHAR" />
    <result column="apply_reason" property="applyReason" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="technology" property="technology" jdbcType="VARCHAR" />
    <result column="knowledge" property="knowledge" jdbcType="VARCHAR" />
    <result column="business_ability" property="businessAbility" jdbcType="VARCHAR" />
    <result column="special_ability" property="specialAbility" jdbcType="VARCHAR" />
    <result column="experience" property="experience" jdbcType="VARCHAR" />
    <result column="other_demand" property="otherDemand" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="entry_num" property="entryNum" jdbcType="INTEGER" />
    <result column="leader_id" property="leaderId" jdbcType="INTEGER" />
    <result column="offer_range" property="offerRange" jdbcType="VARCHAR" />
    <result column="is_check" property="isCheck" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, number, apply_id, apply_date, company_id, post_id, demp_id, position_id, is_demp_leader, 
    is_company_leader, need_num, work_address, apply_reason, channel, sex, age, education, 
    duty, technology, knowledge, business_ability, special_ability, experience, other_demand, 
    state, result, entry_num, leader_id, offer_range, is_check, status
  </sql>
  
</mapper>