<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj.mapper.UserApplyMapper" >
  <resultMap id="BaseResultMap" type="com.pj.pojo.UserApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="applyid" property="applyid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="applyName" property="applyName" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="applyDempName" property="applyDempName" jdbcType="VARCHAR" />
    <result column="applyDate" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="applyPositionName" property="applyPositionName" jdbcType="VARCHAR" />
    <result column="otherName" property="otherName" jdbcType="VARCHAR" />
     
    <result column="count" property="count"/>
    <result column="checkstatus" property="checkstatus"/>
    <result column="content" property="content"/>
    <result column="applynumber" property="applynumber"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, applyid, type, applyName, username, applyDempName, applyDate, applyPositionName
  </sql>
  <!-- 查询用户请假意见为驳回到申请人 -->
  <select id="findUserLeaveRejected" parameterType="com.pj.pojo.UserApply" resultType="com.pj.pojo.UserApply">
	SELECT
			ua.id,
			appgroup.applynumber,
			app.checkstatus,
			ua.type AS type,
			ua.userid AS userid,
			ua.applyName AS applyName,
			ua.applyDate AS applyDate,
			o. NAME otherName,
			IF (
				app.checkstatus = 3 AND app.positionid = 56 AND ua.type = 3,TRUE,FALSE
			) isLeaveReject,
			concat(
				"申请摘要：",
				IFNULL(ua.applyDempName, ''),
				IFNULL("  ", ''),
				IFNULL(ua.applyPositionName, ''),
				IFNULL("  ", ''),
				IFNULL(ua.username, '')
			) AS content
		FROM
			tp_approve app
				inner JOIN (
					SELECT
						max(id) id,
						applynumber
					FROM
						tp_approve
					GROUP BY
						applynumber
				) appgroup ON appgroup.id = app.id AND app.checkstatus =3  AND app.positionid = 56
		INNER JOIN user_apply ua ON ua.applynumber = appgroup.applynumber
		LEFT JOIN tp_other o ON ua.applyid = o.id AND ua.type = 6
		<where>
			<if test="userid != null">
				AND ua.userid = #{userid}
			</if>
			GROUP BY ua.applynumber
			ORDER BY ua.applyDate DESC
		</where>
  </select>
  
  <select id="findMyapplyDetailsByNumber" parameterType="string" resultMap="BaseResultMap">
	  SELECT distinct ua.applyDate,ua.type,concat("申请内容：",IFNULL(ua.applyDempName,''),IFNULL("  ",''),IFNULL(ua.applyPositionName,''),IFNULL("  ",''),IFNULL(ua.username,'')) as content  from tp_approve app 
		INNER JOIN tp_approve_from appf ON app.id = appf.approveid 
		INNER JOIN user_apply ua ON ua.applyid = appf.applyid AND ua.type = appf.type
		<where>
		 app.applynumber = #{applynumber}
		</where>
  </select>


  <select id="selectMyApplyByQuery" resultMap="BaseResultMap" parameterType="com.pj.pojo.UserApply" >
	SELECT
		app.id,
		app.applynumber,
		IF (
			app.checkstatus = 3 AND app.positionid = #{hrPositionid} AND appf.type = 3,TRUE,FALSE
		) isLeaveReject,
		 app.checkstatus,
		 appf.type AS type,
		 ua.userid AS userid,
		 ua.applyName AS applyName,
		 ua.applyDate AS applyDate,
		 o.`name` otherName,
		 IFNULL((
				SELECT
				count(appReject.id)
				FROM
					tp_approve appReject
				INNER JOIN tp_approve_from appfReject ON appReject.id = appfReject.approveid
				<!-- 判断审批状态为已驳回 & 当前审批人为人事 & 申请类型为请假申请 -->
				AND appReject.positionid = #{hrPositionid}
				AND appReject.checkstatus = 3
				AND appfReject.type = 3
		),0) leaveReject,
		concat(
			"申请摘要：",
			IFNULL(ua.applyDempName, ''),
			IFNULL("  ", ''),
			IFNULL(ua.applyPositionName, ''),
			IFNULL("  ", ''),
			IFNULL(ua.username, '')
		) AS content
	FROM
		tp_approve app
	INNER JOIN (
		SELECT
			max(id) id,
			applynumber
		FROM
			tp_approve
		GROUP BY
			applynumber
	) appgroup ON appgroup.id = app.id
	INNER JOIN tp_approve_from appf ON appf.approveid = appgroup.id
	INNER JOIN user_apply ua ON ua.id = appf.user_apply_id
	<!-- 判断申请类型为其他申请时返回该申请类型的name -->
	LEFT JOIN tp_other o ON ua.applyid = o.id AND ua.type = 6
	<where>
		<if test="userid != null">
			AND	ua.userid = #{userid}
		</if>
		<if test="type !=null">
			AND	appf.type = #{type}
			<choose>
				<when test="type == 6">
					<if test="applyName != null">
						AND o.name LIKE #{applyName}
					</if>
				</when>
			</choose>
		</if>
		<if test="checkstatus != null">
			<choose>
				<when test="checkstatus == 3">
					AND app.checkstatus in(3,4)
				</when>
				<otherwise>
					AND app.checkstatus = #{checkstatus}
				</otherwise>
			</choose>
		</if>
		ORDER BY app.checkstatus DESC,ua.applyDate DESC,ua.applynumber DESC
	</where>
  </select>
  <select id="selectCountInfo" resultMap="BaseResultMap" parameterType="com.pj.pojo.UserApply" >
		SELECT 
			tpa.applynumber applynumber
		FROM
			user_apply ua,
			tp_approve_from taf,
			tp_approve tpa
		WHERE
			ua.userid = #{userid}
		AND ua.applyid = taf.applyid
		AND taf.approveid = tpa.id
		GROUP BY
			tpa.applynumber

  </select>
  
  <!-- 获取用户的所有申请单 -->
  <select id="selectMyApplyByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select 
  	 <include refid="Base_Column_List" />
  	 from user_apply
  	 <where>
  	 	userid = #{userid,jdbcType=INTEGER}
  	 </where>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pj.pojo.UserApply" >
    insert into user_apply (id, userid, applyid, 
      type, applyName, username, applyDempName, applyDate, applyPositionName)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{applyid,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{applyName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{applyDempName,jdbcType=VARCHAR}, 
      #{applyDate,jdbcType=TIMESTAMP}, #{applyPositionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pj.pojo.UserApply" useGeneratedKeys="true" keyProperty="id" >
    insert into user_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="applyid != null" >
        applyid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="applyName != null" >
        applyName,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="applyDempName != null" >
        applyDempName,
      </if>
      <if test="applyDate != null" >
        applyDate,
      </if>
      <if test="applyPositionName != null" >
        applyPositionName,
      </if>
      <if test="applynumber != null" >
        applynumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="applyid != null" >
        #{applyid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="applyDempName != null" >
        #{applyDempName,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyPositionName != null" >
        #{applyPositionName,jdbcType=VARCHAR},
      </if>
      <if test="applynumber != null" >
        #{applynumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pj.pojo.UserApply" >
    update user_apply
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="applyid != null" >
        applyid = #{applyid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="applyName != null" >
        applyName = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="applyDempName != null" >
        applyDempName = #{applyDempName,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        applyDate = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyPositionName != null" >
        applyPositionName = #{applyPositionName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pj.pojo.UserApply" >
      update user_apply
    set userid = #{userid,jdbcType=INTEGER},
      applyid = #{applyid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      applyName = #{applyName,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      applyDempName = #{applyDempName,jdbcType=VARCHAR},
      applyDate = #{applyDate,jdbcType=TIMESTAMP},
      applyPositionName = #{applyPositionName,jdbcType=VARCHAR}
      where id=#{id,jdbcType=INTEGER}
  </update>
</mapper>